# Maven
target/

# Eclipse
.classpath
.project
.settings

# IntelliJ IDEA
*.iml
.idea/

# AspectJ
test.lst

# Asciidoctor Maven Plugin - TODO: remove when plugin is fixed
/src/site/asciidoc/.asciidoctor/
